@import url("https://fonts.googleapis.com/css?family=Raleway:300,400");

* {
  box-sizing: border-box;
  font-family: Raleway;
  color: #777;
}

html,
body {
  margin: 0;
  padding: 0;
  min-width: 450px;
}

header {
  position: sticky;
  top: 0;
}

h1 {
  text-align: center;
}

h3 {
  margin: 0.5em;
}

fieldset {
  width: 50%;
  min-width: 450px;
  margin: auto;
}

label {
  display: block;
}

textarea {
  resize: none;
}

.center {
  display: block;
  margin: auto;
  text-align: center;
}

.button {
  display: block;
  margin: auto;
  cursor: pointer;
  white-space: nowrap;
}

/***** Sidenav ******/

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 1;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/***** Fix hamburger menu ******/

.sticky {
  position: fixed;
  top: 1;
}

/***** Header ******/

.main-header {
  background-image: url("Images/Header_Background.jpg");
  background-blend-mode: multiply;
  background-size: cover;
  padding-bottom: 30px;
  left: 0;
  right: 0;
}

.team-name {
  text-align: center;
  max-width: 1046px;
  margin: auto;
  font-size: 3em;
  font-family: "Raleway";
  font-weight: normal;
  color: white;
  transition: 0.5s;
}

.team-name-large {
  font-size: 8em;
  text-shadow: 2px 2px #777;
}

/***** Body ******/
#main {
  transition: margin-left 0.5s;
  padding: 16px;
  min-width: 350px;
}

.content-section {
  margin: 1em;
  text-align: justify;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 1.5em;
}

.section-header {
  font-family: "Raleway";
  font-weight: normal;
  color: #777;
  text-align: center;
  font-size: 2.5em;
}

/***** Footer nav ******/

.nav ul {
  margin: 0;
}

.nav li {
  display: inline;
}

.nav a {
  display: inline-block;
  padding: 0.5em;
  color: white;
  text-decoration: none;
}

.nav a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

/***** Footer ******/

.main-footer {
  background-color: black;
  color: white;
  padding: 0.25em;
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 1;
}

.main-footer-container {
  display: flex;

  align-items: center;
}

.main-footer-container ul {
  flex-grow: 1;
  text-align: end;
}

.footer-nav li {
  padding: 0 0.5em;
}

.footer-nav img {
  width: 30px;
  height: 30px;
}

.clear {
  clear: both;
  height: 90px;
}

/***** Recipe form body ******/

#recipe-form {
  width: 90%;
  min-width: 400px;
  margin: auto;
}

.recipe-container {
  width: 70%;
  margin: auto;
}

.recipe-container a {
  text-decoration: none;
}

.recipe-container h3 {
  text-align: center;
}

#recipe-form h3 {
  margin: 0.5em;
}

#recipe-form fieldset {
  width: 40%;
  min-width: 450px;
  margin: auto;
}

/***** Form image display ******/

#display-image {
  width: 375px;
  height: 211px;
  border: 1px solid black;
  background-position: center;
  background-size: cover;
  margin: auto;
}

/***** Form fields ******/
#recipe-form label {
  display: block;
}

#recipe-form textarea {
  resize: none;
}

.field-txt input,
.field-msg textarea {
  width: 97%;
}

.field-num,
.field-radio {
  display: inline-block;
}

.field-num,
.field-slide {
  width: 49%;
}

.field-num input,
.field-slide input {
  width: 90%;
}

#recipe-form .field-radio input + label,
.field-slide {
  display: inline-block;
}

/***** Recipes display ******/

.recipes {
  width: 60%;
  display: grid;
  justify-items: center;
  column-gap: 5rem;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  margin: auto;
}

.recipes a {
  width: 230px;
  margin: 20px 10px;
}

.recipes a div {
  border-radius: 20px;
  width: 100%;
  height: 230px;
  background-color: rgb(122, 122, 122);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/***** Category page ******/

#category-select {
  display: inline;
}

#go {
  display: inline-block;
}

/***** Contact us form ******/

.buffer {
  padding: 1em;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/***** Change for smaller screens ******/

@media screen and (max-width: 1100px) {
  .sidenav {
    padding-top: 50px;
  }
  .sidenav a {
    font-size: 18px;
  }

  .main-header {
    max-height: 150px;
  }

  .team-name {
    max-height: 150px;
    padding-top: 30px;
    font-size: 1.5em;
  }

  .team-name-large {
    font-size: 2em;
  }

  .main-footer {
    max-height: 50px;
  }

  .main-footer-container {
    max-height: 50px;
  }
  h3.team-name {
    min-width: 138px;
    padding-top: 0px;
  }
  .footer-nav {
    min-width: 210px;
    padding: 0px;
  }
}

/***** Unused ******/

.circle-frame {
  float: left;
  height: 200px;
  width: 200px;
  margin: 15px;
  border-radius: 50%;
}

.xlarge {
  font-size: 24px;
}

.main-nav {
  text-align: center;
  font-size: 1.1em;
  font-weight: bold;
}

.main-nav li {
  padding: 0 5%;
}

.sidebar-button {
  border: none;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  position: absoulte;
}

.sidebar-button:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.sidebar {
  height: 100%;
  width: 200px;
  background-color: white;
  position: fixed;
  z-index: 1;
  overflow: auto;
}

.sidebar a {
  text-decoration: none;
}

.bar-block .bar-item {
  width: 100%;
  display: block;
  padding: 8px 16px;
  text-align: right;
  border: none;
  white-space: normal;
  float: none;
  outline: 0;
}

.border-right {
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}

.sidebar-contents-button {
  width: 100%;
  text-align: left;
  padding: 8px 16px;
}

.sidebar-contents-button:hover {
  color: #000;
  background-color: rgba(255, 255, 255, 0.3);
}
