
#display-image{
	width: 375px;
	height: 211px;
	border: 1px solid black;
	background-position: center;
	background-size: cover;
	margin: auto;
}

#recipe-form {
	width: 90%;
	min-width: 400px;
	margin: auto;
}

h1 {
	text-align: center;
}

h3 {
	margin: 0.5em;
}

fieldset {
	width: 40%;
	min-width: 450px;
	margin: auto;
}

label {
	display: block;
}

textarea {
  resize: none;
}

.center	{
	display: block;
	margin: auto;
	text-align: center;
}

.button {
	display: block;
	width: 150px;
	margin: auto;
}

.field-txt input, .field-msg textarea {
	width: 97%;
}

.field-num, .field-radio {
	display: inline-block;
}

.field-num, .field-slide {
	width: 49%;
}

.field-num input, .field-slide input {
	width: 90%;
}


.field-radio input + label, .field-slide{
	display: inline-block;
}

#allRecipes {
  display: none;
}
#errorMessage {
  display: none;
  color: red;
}

#loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  margin: auto;
  margin-top: 40px;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
