/* reuse */

.center {
  display: block;
  margin: auto;
  text-align: center;
}

/* Form body */

#recipe-form {
  width: 90%;
  min-width: 400px;
  margin: auto;
}

.recipe-container {
  width: 70%;
  margin: auto;
}

#recipe-form h3 {
  margin: 0.5em;
}

#recipe-form fieldset {
  width: 40%;
  min-width: 450px;
  margin: auto;
}

/* Show image input */

#display-image {
  width: 375px;
  height: 211px;
  border: 1px solid black;
  background-position: center;
  background-size: cover;
  margin: auto;
}

/* Form fields */
#recipe-form label {
  display: block;
}

#recipe-form textarea {
  resize: none;
}

.field-txt input,
.field-msg textarea {
  width: 97%;
}

.field-num,
.field-radio {
  display: inline-block;
}

.field-num,
.field-slide {
  width: 49%;
}

.field-num input,
.field-slide input {
  width: 90%;
}

#recipe-form .field-radio input + label,
.field-slide {
  display: inline-block;
}

/* Recipes display */
.recipes {
  width: 60%;
  display: grid;
  justify-items: center;
  column-gap: 5rem;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  margin: auto;
}

.recipes a {
  width: 230px;
  margin: 20px 10px;
}

.recipes a div {
  border-radius: 20px;
  width: 100%;
  height: 230px;
  background-color: red;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}
